$main-font: "DM Sans", sans-serif;

$dark-blue-color: #02073e;
$light-blue-color: #0f2137;
$orange-color: #ff753a;
$dark-orange-color: #ef9e48;
$light-orange-color: #fcf2e8;
$dark-gray-color: #343d48;
$light-gray-color: #5d646d;
$mid-gray-color: #b5c3cb;
$pink-color: #fa578e;
$purple-color: #e682ff;
$green-color: #3fdbb1;
$yellow-color: #ffce1f;

$gradient1: linear-gradient(106.43deg, #fcf2e8 -1.4%, #fffde6 100.87%);
