$main-font: "DM Sans", sans-serif;

$dark-blue-color: #703014;
$light-blue-color: #214776;
$orange-color: #ff753a;
$dark-orange-color: #ef9e48;
$light-orange-color: #fcf2e8;
$dark-gray-color: #343d48;
$light-gray-color: #5d646d;
$mid-gray-color: #b5c3cb;
$pink-color: #fa578e;
$purple-color: #e682ff;
$green-color: #179d79;
$yellow-color: #127217;

$gradient1: linear-gradient(106.43deg, #dfc9b3 -1.4%, #fbf5b5 100.87%);
